html,body {
  margin: 0;
}

main {margin: 50px;}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.col {
  flex-direction: column;
  text-align: left;
}

.row {
  flex-direction: row;
}

.spacey {
  padding-left: 15px;
  padding-right: 15px;
}

.imgUrl {
    margin-right: 50px;
    margin-bottom: 20px; 
}
